.hidden {
	display: none;
}

.status {
	margin: 0.5em 0;
	padding: 0.5em;
}

.status-warning {
	background: rgba(255, 180, 0, 0.3)
}

.status-error {
	background: rgba(255, 0, 0, 0.3)
}

.playlist-result {
	white-space: pre-wrap;
	overflow: auto;
}
